* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(https://images.fastcompany.com/image/upload/f_auto,q_auto,c_fit/wp-cms/uploads/2019/11/p-1-it-is-time-to-forgive-and8216rick-and-mortyand8217-for-its-toxic-fandom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8px;
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
  margin: 10vh auto;
  padding: 20px;
  border-radius: 15px;
}

.card {
  border: 1px solid black;
  border-radius: 8px;
  /* padding: 8px; */
  overflow: hidden;
}

.card h3 {
  text-align: center;
  font-size: 22px;
}

.card button {
  width: 100%;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 8px;
  height: 25px;
  padding: 6px 0;
}

.single-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.episodes {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: scroll;
}

.episodes p {
  margin: 10px 0;
  font-size: 24px;
  cursor: pointer;
}
